<div id="alert" class="row animated slideInUp">
  <div class="col l3"> <br> </div>
  <div class="col s12 l6">
    <div class="card large msj">
      <div class="my-alert white-text amber">
        <img src="/media/img/75x75/{{alert.img}}">
        <p class="flow-text">Necesitas algo</p>
      </div>
      <div class="my-alert-answer">
        <div class="row">
          <div class="col l6 m6 s6" ng-click="mensaje('Quiero ir al baño')">
	        <div id="card-3" class="card tile pink lighten-2">
	          <div class="card-content">
	            <img src="/media/img/banio.png">
	          </div>
	          <div class="card-action pink lighten-1">
	            <p>Baño</p>
	          </div>
	        </div>
	      </div>
	      <div class="col l6 m6 s6" ng-click="mensaje('Quiero comer')">
	        <div id="card-3" class="card tile indigo lighten-2">
	          <div class="card-content">
	            <img src="/media/img/foot.png">
	          </div>
	          <div class="card-action indigo lighten-1">
	            <p>Comida</p>
	          </div>
	        </div>
	      </div>
	      <div class="col l6 m6 s6" ng-click="mensaje('Me duele algo')">
	        <div id="card-3" class="card tile light-green lighten-2">
	          <div class="card-content">
	            <img src="/media/img/foot.png">
	          </div>
	          <div class="card-action light-green lighten-1">
	            <p>Dolor</p>
	          </div>
	        </div>
	      </div>
	      <div class="col l6 m6 s6" ng-click="mensaje('Alerta')">
	        <div id="card-3" class="card tile red lighten-2">
	          <div class="card-content">
	            <img src="/media/img/foot.png">
	          </div>
	          <div class="card-action red lighten-1">
	            <p>Alerta</p>
	          </div>
	        </div>
	      </div>
        </div>
      </div>
    </div>
  </div>
</div>
