<div id="alert" class="row animated slideInUp">
  <div class="col l3"> <br> </div>
  <div class="col s12 l6">
    <div class="card large game1">
      <div class="my-alert white-text  deep-purple">
      <span class="exit-game" onclick="document.location.href ='#/menu';">X</span>
        <p class="flow-text">Juego</p>
      </div>
      <div class="my-alert-answer">
        <div class="row">
          <iframe src="/media/views/game2/Emociones.html" width="100%" height="1000"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
