<div class="wrapper-tiles">
  <div class="row">
      <div class="col l4">
          <div class="card tile red lighten-2">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action white-text red lighten-1">
              <p>Hola</p>
            </div>
          </div>
        
            </div>
            <div class="col l8">
                    <div class="col l6">
                        <div class="card tile lime lighten-2">
                        <div class="card-content">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action lime lighten-1">
                          <p>Juego 2</p>
                        </div>
                        </div>
                    </div>
                    <div class="col l6">
                        <div class="card tile deep-purple lighten-2">
                        <div class="card-content white-text">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action deep-purple lighten-1">
                          <p>Juego 3</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="col l6">
                        <div class="card tile cyan lighten-2">
                        <div class="card-content white-text">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action cyan lighten-1">
                          <p>Juego 3</p>
                        </div>
                        </div>
                    </div>
                    <div class="col l6">
                        <div class="card tile teal lighten-2">
                        <div class="card-content white-text">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action teal lighten-1">
                          <p>Juego 3</p>
                        </div>
                        </div>
                    </div>
                
            </div>
            <div class="col l4">
                <div class="card tile teal lighten-2">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action teal lighten-2">
                  <p>Juego 3</p>
                </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card tile deep-purple lighten-2">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action deep-purple lighten-1">
                  <p>Juego 3</p>
                </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card tile lime lighten-2">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action lime lighten-1">
                  <p>Juego 3</p>
                </div>
                </div>
            </div>
        </div>
    </div>  


