<div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue">
          

        </div>
      </nav>
    </div>
<div id="wrapper" class="wrapper-tiles">
  <div class="row">
    <div class="col l6 m12 s12" ng-click="mensajes()">
      <div id="card-1" class="card tile indigo lighten-2">
        <div class="card-content big-card">
          <img src="/media/img/{{foto}}">
        </div>
        <div class="card-action white-text indigo lighten-1">
          <p>{{mensaje}} </p>
        </div>
      </div>
    </div>
    <div class="col l6 m12 s12 no-margin" onclick="document.location.href ='#/game1'">
      <div class="col l6 m6 s6">
        <div id="card-2" class="card tile lime lighten-2">
          <div class="card-content">
            <img src="/media/img/animals.png">
          </div>
          <div class="card-action lime lighten-1">
            <p>Animales</p>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div id="card-3" class="card tile deep-purple lighten-2">
          <div class="card-content">
            <img src="/media/img/foot.png">
          </div>
          <div class="card-action deep-purple lighten-1">
            <p>Juego 3</p>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div id="card-4" class="card tile cyan lighten-2">
          <div class="card-content">
            <img src="/media/img/foot.png">
          </div>
          <div class="card-action cyan lighten-1">
            <p>Juego 3</p>
          </div>
        </div>
      </div>
      <div class="col l6 m6 s6">
        <div id="card-5" class="card tile teal lighten-2">
          <div class="card-content">
            <img src="/media/img/foot.png">
          </div>
          <div class="card-action teal lighten-1">
            <p>Juego 3</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l4 m4 s4">
      <div id="card-6" class="card tile teal lighten-2">
        <div class="card-content">
          <img src="/media/img/foot.png">
        </div>
        <div class="card-action teal lighten-1">
          <p>Juego 3</p>
        </div>
      </div>
    </div>
    <div class="col l4 m4 s4">
      <div class="card tile deep-purple lighten-2">
        <div id="card-7" class="card-content">
          <img src="/media/img/foot.png">
        </div>
        <div class="card-action deep-purple lighten-1">
          <p>Juego 3</p>
        </div>
      </div>
    </div>
    <div class="col l4 m4 s4">
      <div id="card-8" class="card tile lime lighten-2">
        <div class="card-content">
          <img src="/media/img/foot.png">
        </div>
        <div class="card-action lime lighten-1">
          <p>Juego 3</p>
        </div>
      </div>
    </div>
  </div>
</div>  


