*{
	margin:0px;
	}
#contorno{
	height:800px;
	width:800px;
	position:relative;
	left: 850px;
	top: 200px;
	border-radius:4px;
    

}
#Emociones{
	height:400px;
	width:624px;
	margin: 50px auto;
	position:relative;
	bottom: 0px;
    
}
#feliz{
	height:400px;
	width:624px;
	margin: 50px auto;
	position:relative;
    bottom: -20px;
    
}
#miedo{
	height:400px;
	width: 650px;
	margin: 50px auto;
	position:relative;
	top: -430px;
	left: 0px;
	bottom: 0px;
}
#carino{
	height:400px;
	width: 650px;
	margin: 50px auto;
	position:relative;
	top: -880px;
	left: 0px;
	bottom: 0px;
}
#rojo{
	position:relative;
	left: -90px;
	top: -250px;
}
#rosa{
	position:relative;
	left: 205px;
    bottom: 600px;

}

#negro{
	position:relative;
	left: 430px;
    bottom: 653px;
}
#azul{
	position:relative;
	left: 750px;
    top: -410px;
}
#turquesa{
	position:relative;
	left: -90px;
    bottom: 580px;

}
#verde{
	position:relative;
	left: 750px;
    top: -630px;
}
#amarillo{
	position:relative;
	left: 210px;
    bottom: 330px;
}
#gris{
	position:relative;
	left: 440px;
    bottom: 383px;
}



