<!DOCTYPE html>
<html lang="en" ng-app="auti" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/media/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/media/css/sb-admin.css" rel="stylesheet">
    <link href="/media/views/adminIndex/adminIndex.css" rel="stylesheet">
    <link href="/media/views/checkAnswers/checkAnswers.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin</a>
            </div>
            <!-- Top Menu Items -->

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#/"><i class="fa fa-fw fa-table"></i>Reporte</a>
                    </li>
                    <li>
                        <a href="#/nueva-alerta"><i class="fa fa-fw fa-bar-chart-o"></i> Crear nueva alerta</a>
                    </li>
                    <li>
                        <a href="#/send-alert"><i class="fa fa-fw fa-table"></i> Enviar Alerta</a>
                    </li>
                    <li>
                        <a href="#/delete"><i class="fa fa-fw fa-dashboard"></i> Eliminar alertas</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class= "wrap " ng-view></div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <script type=text/ng-template id=upload.html>
            <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Alerta <small>nueva</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                                <i class="fa fa-dashboard"></i> / Alerta nueva
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
        <form id="form-content" action="" method="post" class="col-md-6 form-panel" enctype="multipart/form-data"> {% csrf_token %}
            
                {%for field in form%}
                    <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                </div>
            {%endfor%}
        </form>
        </div>
        <div class="row lpad" ng-if="state == 0"><input type="submit" value="Registrarse" ng-click="register()" id="button-register" class="btn btn-success">
        </div>
        <div class="row lpad" ng-if="state == 1">
        <h3>Cargando ...</h3>
        </div>
        <div class="row lpad" ng-if="state == 2">
        <h3>Registro satisfactorio </h3>
        </div>
        <div class="row lpad" ng-if="state == 3">
        <h3>Error de conexion</h3>
        </div>
    </script>

    <!-- angularjs js -->
    <script src="/media/bower_components/angular/angular.min.js"></script>
    <script src="/media/bower_components/angular-route/angular-route.js"></script>
    <script src="/media/js/admin-app.js"></script>
    <script src="/media/views/adminIndex/adminIndex.js"></script>
    <script src="/media/views/uploadAlert/uploadAlert.js"></script>
    <script src="/media/views/sendAlert/sendAlert.js"></script>
    <script src="/media/views/checkAnswers/checkAnswers.js"></script>
    <script type="text/javascript">
      var CSRF_TOKEN = "{{ csrf_token }}";
    </script>
</body>

</html>
