<div class="row">
  <div class="col l3"> <br> </div>
  <div class="col s12 l6">
    <div class="card large">
      <div class="my-alert white-text red accent-2">
        <img src="img/foot.png">
        <p class="flow-text">¿Tienes hambre?</p>
      </div>
      <div class="my-alert-answer">
        <div class="row">
          <div class="col s6">
            <a class="btn-floating btn-large btn-option waves-effect waves-light green accent-3">Si</a>
          </div>
          <div class="col s6">
            <a class="btn-floating btn-large btn-option waves-effect waves-light red">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
