<div id="alert" class="row animated slideInUp fadeIn">
  <div class="col l3"> <br> </div>
  <div class="col s12 l6">
    <div class="card large">
      <div class="my-alert white-text red accent-2">
        <img src="/media/img/{{alert.img}}">
        <p class="flow-text">{{alert.title}}</p>
      </div>
      <div class="my-alert-answer">
        <div class="row">
          <div class="col s6">
            <a class="btn-floating btn-large btn-option waves-effect waves-light green accent-3 zoomIn" ng-click="sendAnswer(true)">Si</a>
          </div>
          <div class="col s6">
            <a class="btn-floating btn-large btn-option waves-effect zoomIn waves-light red" ng-click="sendAnswer(false)">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
